@import './modules/variables';

.Calculator {
  background-color: $calculator-bg-color;
  border-radius: $calculator-brdr-rad;
  height: $calculator-height;
  margin: $calculator-margin;
  padding-top: $calculator-padding-top;
  width: $calculator-width;
  .button-grid {
    height: $button-grid-height;
    margin: $center;
    margin-top: $button-grid-margin-top;
    width: $button-grid-width;
    .row {
      height: $button-grid-row-height;
    }
  }
}
