@import './modules/variables';

.Calculator {
  background-color: $calculator-bg-color;
  border-radius: $calculator-brdr-rad;
  height: $calculator-height;
  margin: $calculator-margin;
  padding-top: $calculator-padding-top;
  width: $calculator-width;
}
