$calculator-bg-color: #8a8987;
$display-bg-color: #000;

$display-color: #fff;

$center: 0 auto;

$calculator-width: 300px;
$calculator-height: 300px;
$calculator-padding-top: 5px;
$calculator-margin: 50px auto;
$calculator-brdr-rad: 10%;

$display-height: 10%;
$display_width: 90%;
